// Specific CSS for your home-page
html {
  scroll-behavior: smooth;
}

.home_banner {
  background-image: asset_url("hero_banner.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: right;
  padding: 150px 0;
  background-size: 48%;
}

.home_banner h1 {
  margin: 0;
  font-size: 72px;
  font-weight: 800;
  padding: 0px;
  width: 540px;
  line-height: 98px;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.1);
  letter-spacing: 2px;
}

.home_banner p {
  width: 540px;
  height: 64px;
  font-size: 20px;
  margin-top: 16px;
  line-height: 32px;
  text-shadow: 0px 0px 1px rgba(0,0,0,0.1);
  letter-spacing: 1px;
}

.btn-home {
  background: rgba(138, 171, 137, 0.9);
  width: 196px;
  margin: 0px;
  margin-top: 50px;
  padding: 16px 28px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 8px;
  display: block;
  letter-spacing: 1px;
}

.btn-home:hover {
  background: #6e896e;
  color: #fff;
  text-decoration: none;
}

.home_wrapper {
  padding: 40px;
  padding-bottom: 80px;
  background-image: linear-gradient(180deg, #FFFFFF 20%, rgba(250, 204, 85, 0.05), rgba(250, 204, 85, 0.4));
}

.icon_card_grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 32px;
}

.icon_card {
  // background-size: cover;
  background-position: center;
  background: white;
  height: 128px;
  width: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3A6B7E;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50%;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

.icon_card:hover{
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.testimonial_wrapper {
  padding: 40px;
  padding-bottom: 80px;
  background: rgba(138, 171, 137, 0.1);
  position: relative;
}

.testimonial_card {
  background: rgba( 138, 171, 137, 0.30 );
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
  backdrop-filter: blur( 10.0px );
  -webkit-backdrop-filter: blur( 10.0px );
  border-radius: 8px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  height: auto;
  display: flex;
  justify-content: center;
  align-items: left;
  text-align: center;
  padding: 40px;
  height: auto;
  line-height: 28px;
  margin-bottom: 80px;
}

.avatar_card {
        width: 120px;
        height: 100%;
        position: fixed;
        margin: 0 auto;
        img {
          display: block;
          border-radius: 50%;
          position: relative;
          bottom: -120px;
          border: 2px solid white;
        }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .icon_card_grid {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .icon_card_grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .icon_card_grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.div {
 display: block;
 position: relative;
 top: -2px;
 height: 174px;
 background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 1440 174" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(250, 204, 85, 0.4)" d="M 0 174 C 433.8 174 289.2 110 723 110 L 723 110 L 723 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(250, 204, 85, 0.4)" d="M 722 110 C 1152.8 110 1009.2 0 1440 0 L 1440 0 L 1440 0 L 722 0 Z" stroke-width="0"></path> </svg>');
 background-size: cover;
 background-repeat: no-repeat;
}

@media (max-width:1423px) {
 .div {
   background-size: contain;
 }
}

.howto-grid {
  display: grid;
  grid-gap: 64px;
  grid-template-columns: 1fr 1fr;
  margin-left: 64px;
  margin-right: 64px;
  padding-bottom: 32px;
  p {
    font-size: 20px;
    padding: 32px;
    letter-spacing: 2px;
    text-align: center;
    vertical-align: center;
  }
}

.howto-card {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3A6B7E;
  font-size: 24px;
  font-weight: bold;
  border-radius: 40px 0px 40px 0px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}



.move-me-3 {
  animation: move-in-steps 32s infinite;
}

.move-me-3:hover {
  // animation: move-in-steps 32s infinite;
  // transform: scale(.9)
}

@keyframes move-in-steps {
  40% {
    left: 0;
    background: #3A6B7E;
    color: white;
  }
  100% {
    left: 100%;
    background: white;
    color: #3A6B7E;
  }
}
