<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= task.category.name %></h5>
    <p class="card-text">
      <%= task.date.strftime("%l:%M%p on %d %b %Y") %>
      <br>
      <%= task.address %>
    </p>
    <%= render "bookings/form", task: task, booking: Booking.new %>
  </div>
</div>
