<div class="container p-0" style="position:relative; top:30px;">
  <h1>Available Tasks</h1>
    <div class="row d-flex justify-content-center">
      <div class="col w-50">
        <% @tasks.each do |task|  %>
        <div class="card-booking my-2">
            <div class="d-flex card-inner">
              <div class="card-booking-infos" >
                <h2><%= link_to task.category.name, task_path(task) %></h2>
                <p>When: <%= task.date %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col w-50 my-2" id="map" style="width: 50%; height: 100vh;"data-markers="<%= @markers.to_json %>"data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
</div>
