<div class="container" style="position:relative; top:30px;">
  <h1>New task</h1>
  <%= render "form", tasks: @task %>
</div>






Itterate over categories and display them as cards where you can click to select

When - show a date
show a time slot function
tasks details
