<div class="container p-0" style="position:relative; top:30px;">
  <%= simple_form_for  [task, booking] do |f| %>
    <% if @user == current_user %>
    <%= @user.email current_user.email %>
      <%= f.input :status %>
    <% end %>
    <%= f.submit "Volunteer", class: "btn-green" %>
  <% end %>
</div>
