<div class="form-wrapper">
  <%= simple_form_for  [task, booking] do |f| %>
    <% if user_signed_in? && @user == current_user %>
      <%= f.input :status %>
    <% end %>
    <%= f.submit "Volunteer", class: "btn-green-card" %>
  <% end %>
</div>
