<div class="footer">
  <div>
    <%= image_tag "logo_white.png", alt: "alttext" %>
  </div>
  <div class="footer-links" >
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>

