<div class="howto-grid">
    <div class="howto-card move-me-3">
      Create A Secure Account
    </div>

    <div>
      <p>Are you looking for a local hero to help you? Post a task and let them know what, where and when you need it done.</p>
    </div>

    <div style="margin: auto;">
      <%= image_tag "image_one.png", alt: "alttext" %>
    </div>

    <div class="howto-card move-me-3">
     Post Or Accept A Task
    </div>

    <div class="howto-card move-me-3">
     Chat, Leave A Review, Donate
    </div>

    <div>
     <p>Are you looking to help your local neighbours-in-need? Accept a task to suit your skills and availability.</p>
    </div>
</div>
