<div class="howto-grid">
    <div class="howto-card move-me-3">
      Create A Secure Account
    </div>

    <div>
      <p>Are you looking for a local hero to help you? Post a task and let them know what, where and when you need it done.</p>
    </div>

    <div style="margin: auto;">
      <%= image_tag "image_one.png", alt: "alttext" %>
    </div>

    <div class="howto-card move-me-3">
     Post a Task or Volunteer to be a HERO
    </div>

    <div class="howto-card move-me-3">
     Chat, Leave A Review, Donate
    </div>

    <div>
     <p>Are you looking to become a HERO? Volunteer and help your local neighbours in need.</p>
    </div>
</div>
