<div class="d-flex justify-content-center" style="margin-top: 48px">
  <div class="icon_card_grid">

    <!-- driving -->
    <div class="card border-0" style="text-align: center; background: transparent;">
        <h6>Driving</h6>
      <div class="icon_card">
        <lord-icon
          src="https://cdn.lordicon.com//gghbrdfg.json"
          trigger="hover"
          colors="primary:#264653,secondary:#8aab89"
          stroke="30"
          style="width:104px;height:104px">
        </lord-icon>
      </div>
    </div>

    <!-- shopping -->
    <div class="card border-0" style="text-align: center; background: transparent;">
        <h6>Shopping</h6>
      <div class="icon_card">
        <lord-icon
          src="https://cdn.lordicon.com//dnoiydox.json"
          trigger="hover"
          colors="primary:#264653,secondary:#8aab89"
          stroke="30"
          style="width:104px;height:104px">
        </lord-icon>
      </div>
    </div>

    <!-- errands -->
    <div class="card border-0" style="text-align: center; background: transparent;">
        <h6>Errands</h6>
      <div class="icon_card">
        <lord-icon
          src="https://cdn.lordicon.com//wnhyhgdx.json"
          trigger="hover"
          colors="primary:#264653,secondary:#8aab89"
          stroke="30"
          style="width:104px;height:104px">
        </lord-icon>
      </div>
    </div>

    <!-- dog walking -->
    <div class="card border-0" style="text-align: center; background: transparent;">
        <h6>Dog walking</h6>
      <div class="icon_card">
        <lord-icon
          src="https://cdn.lordicon.com//gygegpuk.json"
          trigger="hover"
          colors="primary:#264653,secondary:#8aab89"
          stroke="30"
          style="width:104px;height:104px">
        </lord-icon>
      </div>
    </div>

    <!-- companion -->
    <div class="card border-0" style="text-align: center; background: transparent;">
        <h6>Companion</h6>
      <div class="icon_card">
        <lord-icon
          src="https://cdn.lordicon.com//hzomhqxz.json"
          trigger="hover"
          colors="primary:#264653,secondary:#8aab89"
          stroke="30"
          style="width:104px;height:104px">
        </lord-icon>
      </div>
    </div>

    <!-- gardening -->
    <div class="card border-0" style="text-align: center; background: transparent;">
        <h6>Gardening</h6>
      <div class="icon_card">
        <lord-icon
          src="https://cdn.lordicon.com//gdwvnnnq.json"
          trigger="hover"
          colors="primary:#264653,secondary:#8aab89"
          stroke="30"
          style="width:104px;height:104px">
        </lord-icon>
      </div>
    </div>

    <!-- cooking -->
    <div class="card border-0" style="text-align: center; background: transparent;">
        <h6>Cooking</h6>
      <div class="icon_card">
        <lord-icon
          src="https://cdn.lordicon.com//fsvqufco.json"
          trigger="hover"
          colors="primary:#264653,secondary:#8aab89"
          stroke="30"
          style="width:104px;height:104px">
        </lord-icon>
      </div>
    </div>

    <!-- cleaning -->
    <div class="card border-0" style="text-align: center; background: transparent;">
        <h6>Cleaning</h6>
      <div class="icon_card">
        <lord-icon
          src="https://cdn.lordicon.com//zefiaaip.json"
          trigger="hover"
          colors="primary:#264653,secondary:#8aab89"
          stroke="30"
          style="width:104px;height:104px">
        </lord-icon>
      </div>
    </div>
  </div>
</div>




