<div class="d-flex justify-content-center" style="margin-top: 32px">
  <div class="icon_card_grid">
    <!-- driving -->
    <div class="icon_card">
      <lord-icon
        src="https://cdn.lordicon.com//gghbrdfg.json"
        trigger="hover"
        colors="primary:#264653,secondary:#8aab89"
        stroke="30"
        style="width:104px;height:104px">
      </lord-icon>
    </div>
    <!-- shopping -->
    <div class="icon_card">
      <lord-icon
          src="https://cdn.lordicon.com//dnoiydox.json"
          trigger="hover"
          colors="primary:#264653,secondary:#8aab89"
          stroke="30"
          style="width:104px;height:104px">
      </lord-icon>
    </div>
    <!-- errand -->
    <div class="icon_card">
      <lord-icon
        src="https://cdn.lordicon.com//wnhyhgdx.json"
        trigger="hover"
        colors="primary:#264653,secondary:#8aab89"
        stroke="30"
        style="width:104px;height:104px">
      </lord-icon>
    </div>
    <!-- dog walking -->
    <div class="icon_card">
      <lord-icon
        src="https://cdn.lordicon.com//gygegpuk.json"
        trigger="hover"
        colors="primary:#264653,secondary:#8aab89"
        stroke="30"
        style="width:104px;height:104px">
      </lord-icon>
    </div>
    <!-- companion -->
    <div class="icon_card">
      <lord-icon
        src="https://cdn.lordicon.com//hzomhqxz.json"
        trigger="hover"
        colors="primary:#264653,secondary:#8aab89"
        stroke="30"
        style="width:104px;height:104px">
      </lord-icon>
    </div>
    <!-- gardening -->
    <div class="icon_card">
      <lord-icon
        src="https://cdn.lordicon.com//gdwvnnnq.json"
        trigger="hover"
        colors="primary:#264653,secondary:#8aab89"
        stroke="30"
        style="width:104px;height:104px">
      </lord-icon>
    </div>
    <!-- cooking -->
    <div class="icon_card">
      <lord-icon
        src="https://cdn.lordicon.com//fsvqufco.json"
        trigger="hover"
        colors="primary:#264653,secondary:#8aab89"
        stroke="30"
        style="width:104px;height:104px">
      </lord-icon>
    </div>
    <!-- cleaning -->
    <div class="icon_card">
      <lord-icon
        src="https://cdn.lordicon.com//zefiaaip.json"
        trigger="hover"
        colors="primary:#264653,secondary:#8aab89"
        stroke="30"
        style="width:104px;height:104px">
      </lord-icon>
    </div>
  </div>
</div>




