<a type="button" class="btn-home" data-toggle="modal" data-target="#homeModal">
  Get started
</a>

<!-- Modal -->
<div class="modal fade" id="homeModal" tabindex="-1" role="dialog" aria-labelledby="homeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="border-radius: 8px;">
      <div class="modal-header">
        <h5 class="modal-title" id="homeModalLabel">Do you want to...?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <a class="btn-green" href="tasks/new.html">Post A Task</a>
        <a class="btn-red" href="tasks.html">Be A Hero</a>
      </div>
        <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
