<!-- banner -->

<div class="home_banner">
  <div class="container">
    <h1>Find your local hero today</h1>
    <p>The community platform connecting neighbours-in-need with local volunteers</p>
    <%= link_to "Get started", tasks_path, class: "btn-home" %>
  </div>
</div>
<!-- search bar -->

<div class="home_wrapper">
  <h2 class="text-center">Help from your hero, whenever you need it</h2>
    <div class="container">
      <%= render "shared/search" %>
    </div>
<!-- icon grid -->
  <%= render "shared/icon_grid" %>
  </div>
</div>

<!-- How It Works explainer -->
<div class="wrapper" style="padding: 40px;">
  <h2 class="text-center" id="how_it_works">How it works</h2>
  <br>
  <p class="text-center"style="font-style: italic">Coming soon...</p>
</div>

<!-- Testimonials -->
<div class="testimonial_wrapper" style="padding: 40px;">
  <h2 class="text-center">Communities are talking...want to eavesdrop?</h2>
  <p class="text-center">Our trusted heroes have been busy...</p>
  <br>
  <p class="text-center" style="font-style: italic">Coming soon...</p>
</div>

