<!-- banner -->

<div class="home_banner">
  <div class="container">
    <h1>Find your local hero today</h1>
    <p>The community platform connecting neighbours-in-need with local volunteers</p>
    <%= link_to "Get started", tasks_path, class: "btn-home" %>
  </div>
</div>
<!-- search bar -->

<div class="home_wrapper">
  <h2 class="text-center">Help from your hero, whenever you need it</h2>
    <div class="container">
      <%= render "shared/search" %>
    </div>
<!-- icon grid -->
  <%= render "shared/icon_grid" %>
  </div>
  <svg viewBox="0 0 1440 174" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path fill="rgba(250, 204, 85, 0.4)" d="M 0 174 C 433.8 174 289.2 110 723 110 L 723 110 L 723 0 L 0 0 Z" stroke-width="0"></path> <path fill="rgba(250, 204, 85, 0.4)" d="M 722 110 C 1152.8 110 1009.2 0 1440 0 L 1440 0 L 1440 0 L 722 0 Z" stroke-width="0"></path> </svg>
<!-- </div> -->

<!-- How It Works explainer -->
<div class="wrapper" style="padding-bottom: 40px;">
  <h2 class="text-center" id="how_it_works">How it works</h2>
  <br>
  <p class="text-center"style="font-style: italic">Coming soon...</p>
</div>

<!-- Testimonials -->
<div class="testimonial_wrapper" style="padding: 40px;">
  <h2 class="text-center">Communities are talking...want to eavesdrop?</h2>
  <p class="text-center">Our trusted heroes have been busy...</p>
  <br>
  <p class="text-center" style="font-style: italic">Coming soon...</p>
</div>

