<div class="container">
 <img src="https://wpforms.com/wp-content/uploads/2017/04/thank-you-page-examples.jpg">
  <br>
  <h2>
    <p>Dear <%= current_user.name %>,</p>
    <p>Thank you for your donation. It is greatly appreciated and we can't thank you enough. This will allow us to help more people in need.</p>

    <p>Sincerely,</p>
    <p>Your Hoxton Hero Team</p>


</h2>
  <p></p>
</div>
