<div class="container"><h2>Oops!! We can't find the page you're looking for </h2></div>
<form>
 <input type="button" value="Go back!" onclick="history.back()" class="btn-green-card">
</form>


<h1 class="title"></h1>

  <div class="container">
    <%= image_tag 'error.png' %>
  </div>
