<div><h2>Oops!! We can't find the page you're looking for </h2>
<form>
 <input type="button" value="Go back!" onclick="history.back()" class="btn-green-card">
</form> </div>


<h1 class="title">404</h1>
  <div class="imgbox">
    <img class="center-fit" src="https://www.whatitcosts.com/wp-content/uploads/2016/04/north-pole-ice.jpg" alt="iceberg">
  </div>
