<div class="d-flex container not-found">
  <h2>Oops!! We can't find the page you're looking for</h2>
  <form>
    <input type="button" value="Go back!" onclick="history.back()" class="btn-green-card ml-3">
  </form>
</div>


<h1 class="title"></h1>

  <div class="container">
    <%= image_tag 'error.png' %>
  </div>
