.btn-new-primary {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #2BBBAD;
  transition: background 0.3s ease;
}

.btn-new-primary:hover {
  background: #27a89c;
  color: white;
}

.btn-review{
 color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #2BBBAD;
  transition: background 0.3s ease;
  height: 40px;
}
.review-stars {
  width: 200px;
}
.btn-green {
  width: 100px;
  height: 40px;
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  background: rgba(138, 171, 137, 0.9);
  transition: background 0.3s ease;
  box-shadow: 0 0 20px #eee;
  text-decoration: none !important;
  letter-spacing: 1px;
}

.btn-green:hover {
  background: #6e896e;
  color: white;
  text-decoration: none !important;
}

.btn-red {
  width: 100px;
  height: 40px;
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  background: rgba(58, 107, 126, 0.8);
  transition: background 0.3s ease;
  box-shadow: 0 0 20px #eee;
  text-decoration: none !important;
  letter-spacing: 1px;
}
.btn-red:hover {
  background: #3A6B7E;
  color: white;
  text-decoration: none !important;
}

.btn-outline {
  color: #3A6B7E;
  border: 2px solid #3A6B7E;
  transition: background 0.3s ease;
  border-radius: 8px;
  padding: 8px 24px;
  background: white;
}

.btn-outline:hover {
  opacity: 1;
  background: #3A6B7E;
  color: white;
  text-decoration: none !important;
}

.btn-outline-lg {
  color: #3A6B7E;
  border: 2px solid #3A6B7E;
  transition: background 0.3s ease;
  border-radius: 8px;
  padding: 8px 24px;
  background: white;
  margin-bottom: 64px;
  margin-top: 32px;
  font-size: 20px;
  letter-spacing: 1px;
}

.btn-outline-lg:hover {
  opacity: 1;
  background: #3A6B7E;
  color: white;
  text-decoration: none !important;
}

.btn-search {
  width: 100px;
  height: 40px;
  color: white;
  padding: 8px 24px;
  border-radius: 8px;
  background: rgba(138, 171, 137, 0.9);
  transition: background 0.3s ease;
  text-decoration: none !important;
}

.btn-search:hover {
  background: #6e896e;
  color: white;
  text-decoration: none !important;
}

.nav-link {
  letter-spacing: 1px;
}
