.card-booking {
  overflow: hidden;
  height: 160px;
  background: white;
  box-shadow: 0 0 8px rgba(0,0,0,0.05);
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
}

.card-booking img {
  margin-bottom: 32px;
  // width: 272px !important;
  // object-fit: cover;
}

.card-booking h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-booking p {
  font-size: 14px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  letter-spacing: 1px;
}

.card-booking h6 {
    text-decoration: none;
    font-size: 18px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
    letter-spacing: 1px;
    font-family: "Work Sans", "Helvetica", "sans-serif";
}

.card-booking:hover {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-booking .card-booking-infos {
  h3{
    font-size: 32px;
    padding: 0px;
    padding-bottom: 8px;
    line-height: 0.5;
    color: #3A6B7E;
  }
  padding: 8px;
}

.small-garden-card:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.card-inner{
  align-items: center;
}
.card-booking:hover{
  background: rgba(138, 171, 137, 0.1);
}

.cards-categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-reviews {
  height: auto;
  padding: 20px;
  min-width: 40%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3A6B7E;
  font-size: 8px;
  font-weight: bold;
  border-radius: 40px 0px 40px 0px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

.user-card-reviews {
  height: 200px;
  width: 320px;
  padding: 20px;
  margin: 0px 16px 0px 16px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3A6B7E;
  font-size: 8px;
  font-weight: bold;
  border-radius: 40px 0px 40px 0px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}

.card-booking-infos .card-booking-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.card-confirmation {

  overflow: hidden;
  height: 500px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
  margin-top: 100px;
  width: 80%;
}
.card-confirmation-left{
  width: 50%;
  background: white;
  height: 100%;
  overflow: scroll;
  padding-top: 20px;
}
.card-confirmation-right{
  width: 50%;

  height: 100%;
}
.card-confirmation-info {
font-size: 24px;
margin-block: auto;
text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
h1{
  font-size: 30px;
}
span{
  color: white;
  font-weight: bold;
}
}

.notification-card {
  font-size: 12px;
  margin-bottom: 4px;
  padding: 2px;
  display: flex;
}

