<div class="container">
<%= image_tag 'oops.png' %>
  <br>
  <h2>
    <p>Dear <%= current_user.name %>,</p>
    <p>Unfortantely your donation did not get through</p>
    <p>You can try again by clicking on the donate button above</p>

    <p>Sincerely,</p>
    <p>Your Hoxton Hero Team</p>


</h2>
  <p></p>
</div>

